<div class="modal">
    <ion-header-bar class="bar-positive">
        <div class="title">
            {{vm.today[vm.edited].description}}
        </div>
        <div class="buttons">
            <button class="button button-icon icon ion-close" ng-click="vm.closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list ng-if="vm.today[vm.edited].edits.length">
            <ion-item class="item-divider">
                Previous values
            </ion-item>
            <ion-item ng-repeat="edit in vm.today[vm.edited].edits track by $index">
                <strong>{{edit.previous}}</strong> &#10145;  <strong>{{edit.new}}</strong>
                <span class="item-note">{{edit.timestamp}}</span>
            </ion-item>
        </ion-list>
        <form class="list" name="vm.editTimeForm" >
            <ion-item class="item-divider">
                Enter new value
            </ion-item>
            <ion-item class="item-input">
                <input type="tel"
                    placeholder="{{vm.today[vm.edited].value}}"
                    name="timeInput"
                    ng-model="vm.newValue"
                    ng-pattern="/(?:(?:2[0-3])|(?:[01][0-9]))[0-5][0-9]/"
                    ng-maxlength="4"
                    required
                    class="edit-modal-input"/>
            </ion-item>
            <div class="item item-divider" ng-hide="vm.editTimeForm.$valid"
                    ng-messages="vm.editTimeForm.timeInput.$error">
                <div class="validation-message"
                    ng-message="required">Please enter new time</div>
                <div class="validation-message"
                    ng-message="pattern">Invalid format, should be HHMM</div>
                <div class="validation-message"
                    ng-message="maxlength">Input to long, max 4 digits</div>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="bar-positive" ng-show="vm.editTimeForm.$valid">
        <div class="title" ng-click="vm.saveModalResult(vm.newValue)">
            OK
        </div>
    </ion-footer-bar>
</div>
