<ion-view view-title="Punch Clock">
    <ion-content>
        <ion-list >
            <ion-item class="item-divider">
                Times
            </ion-item>
            <ion-item ng-repeat="key in vm.getTodayActivities()"
                    class="item-icon-right">
                {{vm.today[key].description}}
                <i class="icon ion-checkmark balanced"
                    ng-show="vm.canShowCheckMarkButton(key)"
                    ng-click="vm.setTime(key)"></i>
                <i class="icon ion-reply calm"
                    ng-show="vm.today[key].canUndo"
                    ng-click="vm.undo(key)"></i>
                <span class="item-note" ng-hide="!vm.today[key].value">
                    <span class="punchclock-time" ng-class="{
                            'punchclock-time-edited': vm.today[key].edited,
                            'punchclock-time-undoable': vm.today[key].canUndo
                        }">
                        {{vm.today[key].value}}
                        <span ng-show="vm.today[key].edited">(edited)</span>
                    </span>
                </span>
                <ion-option-button ng-show="vm.today[key].value"
                        class="button-clear"
                        ng-click="vm.editEntry(key)">
                    <i class="icon ion-edit"></i>
                </ion-option-button>
                <ion-option-button ng-show="vm.today[key].value"
                        class="button-clear button-assertive"
                        ng-click="vm.clearEntry(key)">
                    <i class="icon ion-close"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-divider" ng-show="vm.canShowTotalHours()">
                Result
                <span class="item-note">
                    swipe to change format
                </span>
            </ion-item>
            <ion-item ng-show="vm.canShowTotalHours()"
                on-swipe="vm.toggleShowResultAsDecimal()">
                Total, {{vm.getTotalDescription()}}:
                <span class="item-note punchclock-result">
                    <strong>{{vm.getTotalHours()}}</strong>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
