<ion-view view-title="Utilities">
    <ion-content>
        <ion-list >
            <ion-item class="item-icon-right"
                    ng-click="vm.showDepartureTimeModal()">
                Tell me when I can go home
                <i class="icon ion-ios-calculator"></i>
            </ion-item>
            <ion-item class="item-icon-right"
                    ng-click="vm.showSavedDataModal()">
                Show saved data
                <i class="icon ion-document-text"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
