<ion-view view-title="Settings">
    <ion-content>
        <ion-list >
            <ion-item class="item-divider">
                Day
            </ion-item>
            <ion-toggle ng-model="vm.settings.showResultAsDecimal"
                    ng-change="vm.saveShowResultAsDecimal()">
                Show result as decimals
            </ion-toggle>
            <ion-item class="item-divider">
                History
            </ion-item>
            <ion-toggle ng-model="vm.settings.showHistoryTotalsAsDecimals"
                    ng-change="vm.saveShowHistoryTotalsAsDecimals()">
                Show total as decimals
            </ion-toggle>
            <ion-toggle ng-model="vm.settings.showIncompleEntiesInHistory"
                    ng-change="vm.saveShowIncompleEntiesInHistory()">
                Show incomplete entries
            </ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
