.pane {
    background-color: #dfe6f2;
}

.edit-time-popup .popup-body input {
    text-align: center;
}

.discrete-text {
    color: #777777;
    font-size: small;
}

.punchclock-time {
    font-weight: bold;
    margin-right: -40px;
}

.punchclock-time-edited {
    font-weight: normal;
    font-style: italic;
}

.punchclock-time-undoable {
    margin-right: 0;
}

.history-time {
    font-weight: bold;
    margin-right: -35px;
}
